<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Player || Foremost Project</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link
      rel="icon"
      href="../static/img/spotify-logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <div>
        <div class="Heading">
            <h1 class="heading-text">Spoti-Suggest</h1>
            <img src="../static/img/spotify-logo.png" class="landing-logo" />
        </div>
        
      <div class="art-logo">
        <img src="../static/img/art.png" class="landing-art" />
        <h2 style="margin-left:5rem; color: white;">Search for a song on your mind</h2>
        <div class="search">
           
            <div class="icon">
            </div>
      
            <div class="input">
              <input type="text" placeholder="Search..." id="mysearch" />
            </div>
      
            <span
              class="clear"
              onclick="document.getElementById('mysearch').value = ''"
              >x</span
            >
          </div>
      </div>
   

    <script>
  let flaskData = {{ allCars|tojson }};

  const autoCompleteJS = new autoComplete({
    selector: "#autoComplete",
    placeHolder: "Search for Cars...",
    searchEngine: "strict",
    threshold: 1,
    data: {
      src: flaskData,
      cache: true,
    },
    resultsList: {
      element: (list, data) => {
        if (!data.results.length) {
          const message = document.createElement("div");
          message.setAttribute("class", "no_result");
          message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
          list.prepend(message);
        }
      },
      noResults: true,
    },
    resultItem: {
      highlight: true,
    },
    events: {
      input: {
        selection: (event) => {
          const selection = event.detail.selection.value;
          autoCompleteJS.input.value = selection;
          document.getElementById("myForm").submit();
        },
      },
    },
  });

  function submitForm(type) {
    console.log(type);
    document.getElementById("search-term-by-type").value = type;
    document.getElementById("hiddenForm").submit();
  }
</script>
    <script src="../static/js/search.js"></script>
  </body>
</html>
