@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #ac6ed8, #3bdf77);
}

.centered-container {
    text-align: center;
}

.logo {
    width: 150px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.search-container {
    display: inline-block;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-btn {
    padding: 10px 20px;
    background-color: #ac6ed8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /*font-size: clamp(1.2rem, 3vw, 1.5rem);*/
}

.search-btn:hover {
    background-color: #3bdf77;
}
