@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: linear-gradient(
    90deg,
    rgb(0, 151, 178) 0%,
    rgb(126, 217, 87) 100%
  );
}

.search {
  width: 60px;
  height: 60px;
  transform: 0.5s;
  background: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 60px;
  box-shadow: 0 0 0 0 5px rgb(170, 228, 145) 100%;
  margin-left: 5rem;
  margin-bottom: 10rem;

  /* margin-left: 46rem; */
}

.search.active {
  width: 360px;
}

.search .icon {
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  background: #fff;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
}

.search .icon:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #8338ec;
  transform: translate(-4px, -4px);
}

.search .icon:after {
  content: "";
  width: 3px;
  height: 12px;
  position: absolute;
  background: #8338ec;
  transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
  left: 60px;
  width: 300px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search .input input {
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
  position: absolute;
}

.clear {
  top: 50%;
  right: 15px;
  width: 15px;
  height: 15px;
  display: flex;
  cursor: pointer;
  background: #ff0;
  position: relative;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.clear:before {
  width: 1px;
  height: 15px;
  content: "";
  position: absolute;
  background: #999;
  transform: rotate(45deg);
}

.clear:after {
  width: 1px;
  height: 15px;
  content: "";
  position: absolute;
  background: #999;
  transform: rotate(315deg);
}
.landing-art {
  width: 30rem;
  /* margin-right: 8rem; */
}

.landing-logo {
  width: 4rem;
  /* margin-left: 44rem; */
  margin-top: 2rem;

  /* margin-bottom: 15rem; */
}
.Heading {
  margin-top: 2rem;
  text-align: center;
}

.heading-text {
  /* margin-left: 40rem; */
  color: white;
}
