@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

nav ul,
nav ul li {
  outline: 0;
}

nav ul li a {
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #1e293b;
}

img {
  width: 100%;
}

h1 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

body {
  overflow: hidden;
}

/* MAIN MENU */

main {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  grid-template-columns: 225px 90%;
  box-sizing: border-box;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 15px 0 0 15px;
  /* border-right: 1px solid white; */
  /* padding: 1rem 0 1rem; */
  overflow-y: auto;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  font-family: inherit;
  /* margin: 0.5rem 0.25rem 0.5rem 0.5rem; */
  /* background: #0f172a; */
  border-radius: 8px;
}

.user-info p {
  color: #fff;
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 0 6px 32px;
}

.nav-item {
  display: block;
}

.nav-item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 8px;
  border-radius: 8px;
}

.nav-item.active a {
  background: rgba(106, 109, 155, 0.5);
  text-decoration: none;
}

.nav-icon {
  width: 20px;
  height: 20px;
  font-size: 1.1rem;
}

.nav-text {
  display: block;
  width: 70px;
  height: 20px;
  letter-spacing: 0;
}

/* CONTENT */

.content {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 70% 30%;
  box-sizing: border-box;
}

/* LEFT CONTENT */

.left-content {
  padding: 1rem;
  color: #e5e5e5;
  overflow-y: auto;
  height: calc(100vh - 100px);
  /* margin: 0.5rem 0.25rem; */
  background: #0f172a;
  border-radius: 8px;
}

.bottom-player {
  /* background: #0f172a; */
  color: white;
  width: 100%;
  z-index: 50;
}

/* SLIDER */

.slider-container {
  margin: 0 auto;
  width: 100%;
}

.swiper {
  width: 100%;
  padding: 16px 0 20px;
  margin-bottom: 50px;
}

.swiper-slide {
  position: relative;
  width: 600px;
}

.swiper-slide img {
  border-radius: 20px;
  height: 300px;
  object-fit: cover;
  border: 2px solid rgba(159, 160, 168, 0.5);
}

.swiper-pagination {
  --swiper-pagination-bottom: -4px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffffe7;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 18px;
  border-radius: 8px;
}

.slide-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 12px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 98%;
  background: linear-gradient(
    240deg,
    transparent,
    transparent,
    rgba(38, 21, 149, 0.8)
  );
  border-radius: 20px;
  padding: 30px;
}

.slide-overlay h2 {
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  font-weight: 700;
}

.slide-overlay button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: max-content;
  padding: 12px 16px;
  background: #e9e6eb2a;
  color: #e8e5e5;
  border: 1px solid rgba(159, 160, 168, 0.4);
  border-radius: 12px;
  outline: 0;
  font-size: clamp(0.7rem, 3vw, 1rem);
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.4s linear;
  cursor: pointer;
}

.slide-overlay button:is(:hover, :focus-visible) {
  background: #e9e6eb;
  color: #000;
}

/* Containers of Artist and Albums */

.containers {
  display: flex;
  align-items: center;
  padding: 0 0 12px;
  overflow-x: auto;
  cursor: grab;
}

/* ARTISTS */

.artists h1 {
  margin-bottom: 24px;
}

.artist-container {
  column-gap: 20px;
}

.artist {
  display: grid;
  grid-auto-flow: dense;
  align-items: center;
  grid-template-rows: 8fr 2fr;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.artist img {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(169, 150, 253, 0.5);
  width: 140px;
  aspect-ratio: 1/1;
  margin-bottom: 8px;
  box-shadow: rgba(221, 221, 221, 0.3) 0px 6px 18px -3px,
    rgba(221, 221, 221, 0.2) 0px -3px 0px inset;
  transition: all 0.2s;
}

.artist img:hover {
  border: 4px solid rgba(169, 150, 253, 0.6);
}

.artist p {
  font-size: clamp(0.9rem, 3vw, 1rem);
  font-weight: 500;
  text-align: center;
}

/* ALBUMS */

.albums h1 {
  margin: 60px 0 14px;
}

.album-container {
  column-gap: 24px;
}

.album {
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: 5fr 2fr;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.album-frame {
  position: relative;
  width: 180px;
  aspect-ratio: 1/1;
  border: 2px solid rgba(169, 150, 253, 0.5);
  border-radius: 10px;
  box-shadow: rgba(221, 221, 221, 0.3) 0px 8px 18px -3px,
    rgba(221, 221, 221, 0.2) 0px -3px 0px inset;
  margin-bottom: 15px;
  overflow: hidden;
}

.album-frame img {
  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s;
}

.album-frame img:hover {
  transform: rotate(3deg) scale(1.2);
}

.album h2 {
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  font-weight: 500;
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.album p {
  font-size: clamp(0.9rem, 4vw, 1rem);
  opacity: 0.5;
}

/* Containers Scrollbar Style */

.artist-container::-webkit-scrollbar,
.album-container::-webkit-scrollbar {
  height: 10px;
}

.artist-container::-webkit-scrollbar-track,
.album-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem rgb(79, 78, 78);
  border-radius: 40px;
}

.artist-container::-webkit-scrollbar-thumb,
.album-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem rgb(116, 116, 116);
  background-color: rgba(25, 43, 206, 0.2);
  outline: none;
  border-radius: 40px;
}

/* RIGHT CONTENT */

.right-content {
  display: grid;
  grid-template-rows: 60% 40%;
  border-radius: 0 15px 15px 0;
  /* border-left: 1px solid white; */
  padding: 1rem;
  color: #e5e5e5;
  overflow-y: auto;
  height: calc(100vh - 100px);
  /* margin: 0.5rem 0.5rem 0.5rem 0.25rem; */
  background: #0f172a;
  border-radius: 8px;
}

/* SONGS */

.recommended-songs h1 {
  margin-bottom: 24px;
}

.song-container {
  align-items: center;
}

.song {
  display: grid;
  grid-template-columns: 60px auto 10%;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.song-img {
  position: relative;
  width: 60px;
  border-radius: 6px;
}

.song-img img {
  aspect-ratio: 4/3;
  border-radius: inherit;
  object-fit: cover;
  border: 2px solid rgba(159, 160, 168, 0.5);
  box-shadow: rgba(221, 221, 221, 0.3) 0px 6px 18px -3px,
    rgba(221, 221, 221, 0.2) 0px -3px 0px inset;
}

.song-img .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 92%;
  background-color: rgba(169, 150, 253, 0.6);
  border-radius: inherit;
  font-size: 1.75rem;
  opacity: 0;
  transition: all 0.4s linear;
  cursor: pointer;
}

.song-img:hover .overlay {
  opacity: 1;
}

.song h2 {
  font-size: 1rem;
}

.song p,
.song span {
  font-size: 0.8rem;
  font-weight: 300;
}

.song p {
  opacity: 0.8;
}

/* MUSIC PLAYER */

.music-player {
  display: grid;
  grid-template-columns: 20% auto 10%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  color: #fff;
  gap: 1rem;
  padding: 0.75rem;
}

.album-cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-cover img {
  border-radius: 50%;
  border: 2px solid white;
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* box-shadow: 0 10px 60px rgba(200, 187, 255, 01.75rem); */
  transition: transform 0.5s ease-out;
  pointer-events: none;
  user-select: none;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 4px;
  background-color: black;
  border: 1px solid white;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 2;
}

.music-player h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.music-player p {
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.8;
}

/* Music Player Controls */

#progress {
  /* appearance: none;
  -webkit-appearance: none; */
  max-width: 750px;
  width: 100%;
  height: 6px;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

#progress::-webkit-slider-thumb {
  /* appearance: none; */
  /* -webkit-appearance: none; */
  /* background: black;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%; */
  /* border: 4px solid rgb(234, 229, 255); */
  /* box-shadow: 0 6px 10px rgba(200, 187, 255, 0.4); */
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  aspect-ratio: 1/1;
  background: transparent;
  border-radius: 50%;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1.1rem;
  /* box-shadow: 0 4px 8px rgba(200, 187, 255, 0.3); */
  cursor: pointer;
  transition: all 0.3s linear;
}

.controls button:is(:hover, :focus-visible) {
  transform: scale(0.96);
}

.controls button:nth-child(2) {
  transform: scale(1.3);
}

.controls button:nth-child(2):is(:hover, :focus-visible) {
  transform: scale(1.25);
}
